/* Font size and line distance of text in boxes */
.text {
font-size: 1em;
line-height:1em;
text-align: center;
padding: 10px;
}

.cell_type_box {
position: absolute;
width: 50%;/*24px*/
height: 50%;/*24px*/
background: transparent;
border-style: solid;
border-width: 1px;
-moz-box-sizing:    border-box;
-webkit-box-sizing: border-box;
box-sizing:        border-box;
}

.cell_input_box {
border-style:solid;
-moz-box-sizing:    border-box;
-webkit-box-sizing: border-box;
box-sizing:        border-box;
border-width : 1px;
}

.None { background: gray; }
.FB { background: #06810D; }
.FB_Bin { background: #ADC168; }
.FB_Doc { background: #ADC168; }
.FB_Pnr { background: #ADC168; }
.FB_Srp1 { background: #06810D; }
.FB_various_sm { background: #ADC168; }
.H_fb { background: #F0BABA; }
.Heart { background: #FF3336; }
.Heart_1 { background: #FF3336; }
.Heart_Bin { background: #F0BABA; }
.None { background: #EFEB1F; }
.SM { background: #FF6600; }
.SM_Bin { background: #FFB27F; }
.SM_Doc { background: #FFB27F; }
.SM_Pnr { background: #FFB27F; }
.SM_Tin { background: #FFB27F; }
.SM_fb { background: #FFB27F; }
.SM_h { background: #FFB27F; }
.VM { background: #004CBF; }
.VM_Bap1 { background: #ABF1FF; }
.VM_Bap2 { background: #004CBF; }
.VM_Doc { background: #ABF1FF; }
.VM_Pnr { background: #ABF1FF; }
.VM_fb { background: #ABF1FF; }
.VM_h { background: #ABF1FF; }
.VM_sm { background: #ABF1FF; }


#Bap_0_Bap_0:hover ~ .rowBap_0  { background-color:black; color: white; }
#Bap_0_Bap_0:hover ~ .colBap_0  { background-color:black; color: white; }
#Bap_0_Bin_0:hover ~ .rowBap_0  { background-color:black; color: white; }
#Bap_0_Bin_0:hover ~ .colBin_0  { background-color:black; color: white; }
#Bap_0_Bin_2:hover ~ .rowBap_0  { background-color:black; color: white; }
#Bap_0_Bin_2:hover ~ .colBin_2  { background-color:black; color: white; }
#Bap_0_Ci_0:hover ~ .rowBap_0  { background-color:black; color: white; }
#Bap_0_Ci_0:hover ~ .colCi_0  { background-color:black; color: white; }
#Bap_0_Ci_1:hover ~ .rowBap_0  { background-color:black; color: white; }
#Bap_0_Ci_1:hover ~ .colCi_1  { background-color:black; color: white; }
#Bap_0_Doc_0:hover ~ .rowBap_0  { background-color:black; color: white; }
#Bap_0_Doc_0:hover ~ .colDoc_0  { background-color:black; color: white; }
#Bap_0_Doc_1:hover ~ .rowBap_0  { background-color:black; color: white; }
#Bap_0_Doc_1:hover ~ .colDoc_1  { background-color:black; color: white; }
#Bap_0_Mad_0:hover ~ .rowBap_0  { background-color:black; color: white; }
#Bap_0_Mad_0:hover ~ .colMad_0  { background-color:black; color: white; }
#Bap_0_Mad_1:hover ~ .rowBap_0  { background-color:black; color: white; }
#Bap_0_Mad_1:hover ~ .colMad_1  { background-color:black; color: white; }
#Bap_0_Med_0:hover ~ .rowBap_0  { background-color:black; color: white; }
#Bap_0_Med_0:hover ~ .colMed_0  { background-color:black; color: white; }
#Bap_0_Med_1:hover ~ .rowBap_0  { background-color:black; color: white; }
#Bap_0_Med_1:hover ~ .colMed_1  { background-color:black; color: white; }
#Bap_0_Mef2_0:hover ~ .rowBap_0  { background-color:black; color: white; }
#Bap_0_Mef2_0:hover ~ .colMef2_0  { background-color:black; color: white; }
#Bap_0_Mef2_1:hover ~ .rowBap_0  { background-color:black; color: white; }
#Bap_0_Mef2_1:hover ~ .colMef2_1  { background-color:black; color: white; }
#Bap_0_Nicd_0:hover ~ .rowBap_0  { background-color:black; color: white; }
#Bap_0_Nicd_0:hover ~ .colNicd_0  { background-color:black; color: white; }
#Bap_0_Nicd_1:hover ~ .rowBap_0  { background-color:black; color: white; }
#Bap_0_Nicd_1:hover ~ .colNicd_1  { background-color:black; color: white; }
#Bap_0_Pan_0:hover ~ .rowBap_0  { background-color:black; color: white; }
#Bap_0_Pan_0:hover ~ .colPan_0  { background-color:black; color: white; }
#Bap_0_Pan_1:hover ~ .rowBap_0  { background-color:black; color: white; }
#Bap_0_Pan_1:hover ~ .colPan_1  { background-color:black; color: white; }
#Bap_0_Pnr_0:hover ~ .rowBap_0  { background-color:black; color: white; }
#Bap_0_Pnr_0:hover ~ .colPnr_0  { background-color:black; color: white; }
#Bap_0_Pnr_1:hover ~ .rowBap_0  { background-color:black; color: white; }
#Bap_0_Pnr_1:hover ~ .colPnr_1  { background-color:black; color: white; }
#Bap_0_Slp_0:hover ~ .rowBap_0  { background-color:black; color: white; }
#Bap_0_Slp_0:hover ~ .colSlp_0  { background-color:black; color: white; }
#Bap_0_Slp_1:hover ~ .rowBap_0  { background-color:black; color: white; }
#Bap_0_Slp_1:hover ~ .colSlp_1  { background-color:black; color: white; }
#Bap_0_Srp_0:hover ~ .rowBap_0  { background-color:black; color: white; }
#Bap_0_Srp_0:hover ~ .colSrp_0  { background-color:black; color: white; }
#Bap_0_Srp_2:hover ~ .rowBap_0  { background-color:black; color: white; }
#Bap_0_Srp_2:hover ~ .colSrp_2  { background-color:black; color: white; }
#Bap_0_Tin_0:hover ~ .rowBap_0  { background-color:black; color: white; }
#Bap_0_Tin_0:hover ~ .colTin_0  { background-color:black; color: white; }
#Bap_0_Tin_2:hover ~ .rowBap_0  { background-color:black; color: white; }
#Bap_0_Tin_2:hover ~ .colTin_2  { background-color:black; color: white; }
#Bap_0_Twi_0:hover ~ .rowBap_0  { background-color:black; color: white; }
#Bap_0_Twi_0:hover ~ .colTwi_0  { background-color:black; color: white; }
#Bap_0_Twi_2:hover ~ .rowBap_0  { background-color:black; color: white; }
#Bap_0_Twi_2:hover ~ .colTwi_2  { background-color:black; color: white; }
#Bap_3_Bap_3:hover ~ .rowBap_3  { background-color:black; color: white; }
#Bap_3_Bap_3:hover ~ .colBap_3  { background-color:black; color: white; }
#Bap_3_Bin_0:hover ~ .rowBap_3  { background-color:black; color: white; }
#Bap_3_Bin_0:hover ~ .colBin_0  { background-color:black; color: white; }
#Bap_3_Bin_2:hover ~ .rowBap_3  { background-color:black; color: white; }
#Bap_3_Bin_2:hover ~ .colBin_2  { background-color:black; color: white; }
#Bap_3_Ci_0:hover ~ .rowBap_3  { background-color:black; color: white; }
#Bap_3_Ci_0:hover ~ .colCi_0  { background-color:black; color: white; }
#Bap_3_Ci_1:hover ~ .rowBap_3  { background-color:black; color: white; }
#Bap_3_Ci_1:hover ~ .colCi_1  { background-color:black; color: white; }
#Bap_3_Doc_0:hover ~ .rowBap_3  { background-color:black; color: white; }
#Bap_3_Doc_0:hover ~ .colDoc_0  { background-color:black; color: white; }
#Bap_3_Doc_1:hover ~ .rowBap_3  { background-color:black; color: white; }
#Bap_3_Doc_1:hover ~ .colDoc_1  { background-color:black; color: white; }
#Bap_3_Mad_0:hover ~ .rowBap_3  { background-color:black; color: white; }
#Bap_3_Mad_0:hover ~ .colMad_0  { background-color:black; color: white; }
#Bap_3_Mad_1:hover ~ .rowBap_3  { background-color:black; color: white; }
#Bap_3_Mad_1:hover ~ .colMad_1  { background-color:black; color: white; }
#Bap_3_Med_0:hover ~ .rowBap_3  { background-color:black; color: white; }
#Bap_3_Med_0:hover ~ .colMed_0  { background-color:black; color: white; }
#Bap_3_Med_1:hover ~ .rowBap_3  { background-color:black; color: white; }
#Bap_3_Med_1:hover ~ .colMed_1  { background-color:black; color: white; }
#Bap_3_Mef2_0:hover ~ .rowBap_3  { background-color:black; color: white; }
#Bap_3_Mef2_0:hover ~ .colMef2_0  { background-color:black; color: white; }
#Bap_3_Mef2_1:hover ~ .rowBap_3  { background-color:black; color: white; }
#Bap_3_Mef2_1:hover ~ .colMef2_1  { background-color:black; color: white; }
#Bap_3_Nicd_0:hover ~ .rowBap_3  { background-color:black; color: white; }
#Bap_3_Nicd_0:hover ~ .colNicd_0  { background-color:black; color: white; }
#Bap_3_Nicd_1:hover ~ .rowBap_3  { background-color:black; color: white; }
#Bap_3_Nicd_1:hover ~ .colNicd_1  { background-color:black; color: white; }
#Bap_3_Pan_0:hover ~ .rowBap_3  { background-color:black; color: white; }
#Bap_3_Pan_0:hover ~ .colPan_0  { background-color:black; color: white; }
#Bap_3_Pan_1:hover ~ .rowBap_3  { background-color:black; color: white; }
#Bap_3_Pan_1:hover ~ .colPan_1  { background-color:black; color: white; }
#Bap_3_Pnr_0:hover ~ .rowBap_3  { background-color:black; color: white; }
#Bap_3_Pnr_0:hover ~ .colPnr_0  { background-color:black; color: white; }
#Bap_3_Pnr_1:hover ~ .rowBap_3  { background-color:black; color: white; }
#Bap_3_Pnr_1:hover ~ .colPnr_1  { background-color:black; color: white; }
#Bap_3_Slp_0:hover ~ .rowBap_3  { background-color:black; color: white; }
#Bap_3_Slp_0:hover ~ .colSlp_0  { background-color:black; color: white; }
#Bap_3_Slp_1:hover ~ .rowBap_3  { background-color:black; color: white; }
#Bap_3_Slp_1:hover ~ .colSlp_1  { background-color:black; color: white; }
#Bap_3_Srp_0:hover ~ .rowBap_3  { background-color:black; color: white; }
#Bap_3_Srp_0:hover ~ .colSrp_0  { background-color:black; color: white; }
#Bap_3_Srp_2:hover ~ .rowBap_3  { background-color:black; color: white; }
#Bap_3_Srp_2:hover ~ .colSrp_2  { background-color:black; color: white; }
#Bap_3_Tin_0:hover ~ .rowBap_3  { background-color:black; color: white; }
#Bap_3_Tin_0:hover ~ .colTin_0  { background-color:black; color: white; }
#Bap_3_Tin_2:hover ~ .rowBap_3  { background-color:black; color: white; }
#Bap_3_Tin_2:hover ~ .colTin_2  { background-color:black; color: white; }
#Bap_3_Twi_0:hover ~ .rowBap_3  { background-color:black; color: white; }
#Bap_3_Twi_0:hover ~ .colTwi_0  { background-color:black; color: white; }
#Bap_3_Twi_2:hover ~ .rowBap_3  { background-color:black; color: white; }
#Bap_3_Twi_2:hover ~ .colTwi_2  { background-color:black; color: white; }
#Bin_0_Bin_0:hover ~ .rowBin_0  { background-color:black; color: white; }
#Bin_0_Bin_0:hover ~ .colBin_0  { background-color:black; color: white; }
#Bin_0_Ci_0:hover ~ .rowBin_0  { background-color:black; color: white; }
#Bin_0_Ci_0:hover ~ .colCi_0  { background-color:black; color: white; }
#Bin_0_Ci_1:hover ~ .rowBin_0  { background-color:black; color: white; }
#Bin_0_Ci_1:hover ~ .colCi_1  { background-color:black; color: white; }
#Bin_0_Doc_0:hover ~ .rowBin_0  { background-color:black; color: white; }
#Bin_0_Doc_0:hover ~ .colDoc_0  { background-color:black; color: white; }
#Bin_0_Doc_1:hover ~ .rowBin_0  { background-color:black; color: white; }
#Bin_0_Doc_1:hover ~ .colDoc_1  { background-color:black; color: white; }
#Bin_0_Mad_0:hover ~ .rowBin_0  { background-color:black; color: white; }
#Bin_0_Mad_0:hover ~ .colMad_0  { background-color:black; color: white; }
#Bin_0_Mad_1:hover ~ .rowBin_0  { background-color:black; color: white; }
#Bin_0_Mad_1:hover ~ .colMad_1  { background-color:black; color: white; }
#Bin_0_Med_0:hover ~ .rowBin_0  { background-color:black; color: white; }
#Bin_0_Med_0:hover ~ .colMed_0  { background-color:black; color: white; }
#Bin_0_Med_1:hover ~ .rowBin_0  { background-color:black; color: white; }
#Bin_0_Med_1:hover ~ .colMed_1  { background-color:black; color: white; }
#Bin_0_Mef2_0:hover ~ .rowBin_0  { background-color:black; color: white; }
#Bin_0_Mef2_0:hover ~ .colMef2_0  { background-color:black; color: white; }
#Bin_0_Mef2_1:hover ~ .rowBin_0  { background-color:black; color: white; }
#Bin_0_Mef2_1:hover ~ .colMef2_1  { background-color:black; color: white; }
#Bin_0_Nicd_0:hover ~ .rowBin_0  { background-color:black; color: white; }
#Bin_0_Nicd_0:hover ~ .colNicd_0  { background-color:black; color: white; }
#Bin_0_Nicd_1:hover ~ .rowBin_0  { background-color:black; color: white; }
#Bin_0_Nicd_1:hover ~ .colNicd_1  { background-color:black; color: white; }
#Bin_0_Pan_0:hover ~ .rowBin_0  { background-color:black; color: white; }
#Bin_0_Pan_0:hover ~ .colPan_0  { background-color:black; color: white; }
#Bin_0_Pan_1:hover ~ .rowBin_0  { background-color:black; color: white; }
#Bin_0_Pan_1:hover ~ .colPan_1  { background-color:black; color: white; }
#Bin_0_Pnr_0:hover ~ .rowBin_0  { background-color:black; color: white; }
#Bin_0_Pnr_0:hover ~ .colPnr_0  { background-color:black; color: white; }
#Bin_0_Pnr_1:hover ~ .rowBin_0  { background-color:black; color: white; }
#Bin_0_Pnr_1:hover ~ .colPnr_1  { background-color:black; color: white; }
#Bin_0_Slp_0:hover ~ .rowBin_0  { background-color:black; color: white; }
#Bin_0_Slp_0:hover ~ .colSlp_0  { background-color:black; color: white; }
#Bin_0_Slp_1:hover ~ .rowBin_0  { background-color:black; color: white; }
#Bin_0_Slp_1:hover ~ .colSlp_1  { background-color:black; color: white; }
#Bin_0_Srp_0:hover ~ .rowBin_0  { background-color:black; color: white; }
#Bin_0_Srp_0:hover ~ .colSrp_0  { background-color:black; color: white; }
#Bin_0_Srp_2:hover ~ .rowBin_0  { background-color:black; color: white; }
#Bin_0_Srp_2:hover ~ .colSrp_2  { background-color:black; color: white; }
#Bin_0_Tin_0:hover ~ .rowBin_0  { background-color:black; color: white; }
#Bin_0_Tin_0:hover ~ .colTin_0  { background-color:black; color: white; }
#Bin_0_Tin_2:hover ~ .rowBin_0  { background-color:black; color: white; }
#Bin_0_Tin_2:hover ~ .colTin_2  { background-color:black; color: white; }
#Bin_0_Twi_0:hover ~ .rowBin_0  { background-color:black; color: white; }
#Bin_0_Twi_0:hover ~ .colTwi_0  { background-color:black; color: white; }
#Bin_0_Twi_2:hover ~ .rowBin_0  { background-color:black; color: white; }
#Bin_0_Twi_2:hover ~ .colTwi_2  { background-color:black; color: white; }
#Bin_2_Bin_2:hover ~ .rowBin_2  { background-color:black; color: white; }
#Bin_2_Bin_2:hover ~ .colBin_2  { background-color:black; color: white; }
#Bin_2_Ci_0:hover ~ .rowBin_2  { background-color:black; color: white; }
#Bin_2_Ci_0:hover ~ .colCi_0  { background-color:black; color: white; }
#Bin_2_Ci_1:hover ~ .rowBin_2  { background-color:black; color: white; }
#Bin_2_Ci_1:hover ~ .colCi_1  { background-color:black; color: white; }
#Bin_2_Doc_0:hover ~ .rowBin_2  { background-color:black; color: white; }
#Bin_2_Doc_0:hover ~ .colDoc_0  { background-color:black; color: white; }
#Bin_2_Doc_1:hover ~ .rowBin_2  { background-color:black; color: white; }
#Bin_2_Doc_1:hover ~ .colDoc_1  { background-color:black; color: white; }
#Bin_2_Mad_0:hover ~ .rowBin_2  { background-color:black; color: white; }
#Bin_2_Mad_0:hover ~ .colMad_0  { background-color:black; color: white; }
#Bin_2_Mad_1:hover ~ .rowBin_2  { background-color:black; color: white; }
#Bin_2_Mad_1:hover ~ .colMad_1  { background-color:black; color: white; }
#Bin_2_Med_0:hover ~ .rowBin_2  { background-color:black; color: white; }
#Bin_2_Med_0:hover ~ .colMed_0  { background-color:black; color: white; }
#Bin_2_Med_1:hover ~ .rowBin_2  { background-color:black; color: white; }
#Bin_2_Med_1:hover ~ .colMed_1  { background-color:black; color: white; }
#Bin_2_Mef2_0:hover ~ .rowBin_2  { background-color:black; color: white; }
#Bin_2_Mef2_0:hover ~ .colMef2_0  { background-color:black; color: white; }
#Bin_2_Mef2_1:hover ~ .rowBin_2  { background-color:black; color: white; }
#Bin_2_Mef2_1:hover ~ .colMef2_1  { background-color:black; color: white; }
#Bin_2_Nicd_0:hover ~ .rowBin_2  { background-color:black; color: white; }
#Bin_2_Nicd_0:hover ~ .colNicd_0  { background-color:black; color: white; }
#Bin_2_Nicd_1:hover ~ .rowBin_2  { background-color:black; color: white; }
#Bin_2_Nicd_1:hover ~ .colNicd_1  { background-color:black; color: white; }
#Bin_2_Pan_0:hover ~ .rowBin_2  { background-color:black; color: white; }
#Bin_2_Pan_0:hover ~ .colPan_0  { background-color:black; color: white; }
#Bin_2_Pan_1:hover ~ .rowBin_2  { background-color:black; color: white; }
#Bin_2_Pan_1:hover ~ .colPan_1  { background-color:black; color: white; }
#Bin_2_Pnr_0:hover ~ .rowBin_2  { background-color:black; color: white; }
#Bin_2_Pnr_0:hover ~ .colPnr_0  { background-color:black; color: white; }
#Bin_2_Pnr_1:hover ~ .rowBin_2  { background-color:black; color: white; }
#Bin_2_Pnr_1:hover ~ .colPnr_1  { background-color:black; color: white; }
#Bin_2_Slp_0:hover ~ .rowBin_2  { background-color:black; color: white; }
#Bin_2_Slp_0:hover ~ .colSlp_0  { background-color:black; color: white; }
#Bin_2_Slp_1:hover ~ .rowBin_2  { background-color:black; color: white; }
#Bin_2_Slp_1:hover ~ .colSlp_1  { background-color:black; color: white; }
#Bin_2_Srp_0:hover ~ .rowBin_2  { background-color:black; color: white; }
#Bin_2_Srp_0:hover ~ .colSrp_0  { background-color:black; color: white; }
#Bin_2_Srp_2:hover ~ .rowBin_2  { background-color:black; color: white; }
#Bin_2_Srp_2:hover ~ .colSrp_2  { background-color:black; color: white; }
#Bin_2_Tin_0:hover ~ .rowBin_2  { background-color:black; color: white; }
#Bin_2_Tin_0:hover ~ .colTin_0  { background-color:black; color: white; }
#Bin_2_Tin_2:hover ~ .rowBin_2  { background-color:black; color: white; }
#Bin_2_Tin_2:hover ~ .colTin_2  { background-color:black; color: white; }
#Bin_2_Twi_0:hover ~ .rowBin_2  { background-color:black; color: white; }
#Bin_2_Twi_0:hover ~ .colTwi_0  { background-color:black; color: white; }
#Bin_2_Twi_2:hover ~ .rowBin_2  { background-color:black; color: white; }
#Bin_2_Twi_2:hover ~ .colTwi_2  { background-color:black; color: white; }
#Ci_0_Ci_0:hover ~ .rowCi_0  { background-color:black; color: white; }
#Ci_0_Ci_0:hover ~ .colCi_0  { background-color:black; color: white; }
#Ci_0_Doc_0:hover ~ .rowCi_0  { background-color:black; color: white; }
#Ci_0_Doc_0:hover ~ .colDoc_0  { background-color:black; color: white; }
#Ci_0_Doc_1:hover ~ .rowCi_0  { background-color:black; color: white; }
#Ci_0_Doc_1:hover ~ .colDoc_1  { background-color:black; color: white; }
#Ci_0_Mad_0:hover ~ .rowCi_0  { background-color:black; color: white; }
#Ci_0_Mad_0:hover ~ .colMad_0  { background-color:black; color: white; }
#Ci_0_Mad_1:hover ~ .rowCi_0  { background-color:black; color: white; }
#Ci_0_Mad_1:hover ~ .colMad_1  { background-color:black; color: white; }
#Ci_0_Med_0:hover ~ .rowCi_0  { background-color:black; color: white; }
#Ci_0_Med_0:hover ~ .colMed_0  { background-color:black; color: white; }
#Ci_0_Med_1:hover ~ .rowCi_0  { background-color:black; color: white; }
#Ci_0_Med_1:hover ~ .colMed_1  { background-color:black; color: white; }
#Ci_0_Mef2_0:hover ~ .rowCi_0  { background-color:black; color: white; }
#Ci_0_Mef2_0:hover ~ .colMef2_0  { background-color:black; color: white; }
#Ci_0_Mef2_1:hover ~ .rowCi_0  { background-color:black; color: white; }
#Ci_0_Mef2_1:hover ~ .colMef2_1  { background-color:black; color: white; }
#Ci_0_Nicd_0:hover ~ .rowCi_0  { background-color:black; color: white; }
#Ci_0_Nicd_0:hover ~ .colNicd_0  { background-color:black; color: white; }
#Ci_0_Nicd_1:hover ~ .rowCi_0  { background-color:black; color: white; }
#Ci_0_Nicd_1:hover ~ .colNicd_1  { background-color:black; color: white; }
#Ci_0_Pan_0:hover ~ .rowCi_0  { background-color:black; color: white; }
#Ci_0_Pan_0:hover ~ .colPan_0  { background-color:black; color: white; }
#Ci_0_Pan_1:hover ~ .rowCi_0  { background-color:black; color: white; }
#Ci_0_Pan_1:hover ~ .colPan_1  { background-color:black; color: white; }
#Ci_0_Pnr_0:hover ~ .rowCi_0  { background-color:black; color: white; }
#Ci_0_Pnr_0:hover ~ .colPnr_0  { background-color:black; color: white; }
#Ci_0_Pnr_1:hover ~ .rowCi_0  { background-color:black; color: white; }
#Ci_0_Pnr_1:hover ~ .colPnr_1  { background-color:black; color: white; }
#Ci_0_Slp_0:hover ~ .rowCi_0  { background-color:black; color: white; }
#Ci_0_Slp_0:hover ~ .colSlp_0  { background-color:black; color: white; }
#Ci_0_Slp_1:hover ~ .rowCi_0  { background-color:black; color: white; }
#Ci_0_Slp_1:hover ~ .colSlp_1  { background-color:black; color: white; }
#Ci_0_Srp_0:hover ~ .rowCi_0  { background-color:black; color: white; }
#Ci_0_Srp_0:hover ~ .colSrp_0  { background-color:black; color: white; }
#Ci_0_Srp_2:hover ~ .rowCi_0  { background-color:black; color: white; }
#Ci_0_Srp_2:hover ~ .colSrp_2  { background-color:black; color: white; }
#Ci_0_Tin_0:hover ~ .rowCi_0  { background-color:black; color: white; }
#Ci_0_Tin_0:hover ~ .colTin_0  { background-color:black; color: white; }
#Ci_0_Tin_2:hover ~ .rowCi_0  { background-color:black; color: white; }
#Ci_0_Tin_2:hover ~ .colTin_2  { background-color:black; color: white; }
#Ci_0_Twi_0:hover ~ .rowCi_0  { background-color:black; color: white; }
#Ci_0_Twi_0:hover ~ .colTwi_0  { background-color:black; color: white; }
#Ci_0_Twi_2:hover ~ .rowCi_0  { background-color:black; color: white; }
#Ci_0_Twi_2:hover ~ .colTwi_2  { background-color:black; color: white; }
#Ci_1_Ci_1:hover ~ .rowCi_1  { background-color:black; color: white; }
#Ci_1_Ci_1:hover ~ .colCi_1  { background-color:black; color: white; }
#Ci_1_Doc_0:hover ~ .rowCi_1  { background-color:black; color: white; }
#Ci_1_Doc_0:hover ~ .colDoc_0  { background-color:black; color: white; }
#Ci_1_Doc_1:hover ~ .rowCi_1  { background-color:black; color: white; }
#Ci_1_Doc_1:hover ~ .colDoc_1  { background-color:black; color: white; }
#Ci_1_Mad_0:hover ~ .rowCi_1  { background-color:black; color: white; }
#Ci_1_Mad_0:hover ~ .colMad_0  { background-color:black; color: white; }
#Ci_1_Mad_1:hover ~ .rowCi_1  { background-color:black; color: white; }
#Ci_1_Mad_1:hover ~ .colMad_1  { background-color:black; color: white; }
#Ci_1_Med_0:hover ~ .rowCi_1  { background-color:black; color: white; }
#Ci_1_Med_0:hover ~ .colMed_0  { background-color:black; color: white; }
#Ci_1_Med_1:hover ~ .rowCi_1  { background-color:black; color: white; }
#Ci_1_Med_1:hover ~ .colMed_1  { background-color:black; color: white; }
#Ci_1_Mef2_0:hover ~ .rowCi_1  { background-color:black; color: white; }
#Ci_1_Mef2_0:hover ~ .colMef2_0  { background-color:black; color: white; }
#Ci_1_Mef2_1:hover ~ .rowCi_1  { background-color:black; color: white; }
#Ci_1_Mef2_1:hover ~ .colMef2_1  { background-color:black; color: white; }
#Ci_1_Nicd_0:hover ~ .rowCi_1  { background-color:black; color: white; }
#Ci_1_Nicd_0:hover ~ .colNicd_0  { background-color:black; color: white; }
#Ci_1_Nicd_1:hover ~ .rowCi_1  { background-color:black; color: white; }
#Ci_1_Nicd_1:hover ~ .colNicd_1  { background-color:black; color: white; }
#Ci_1_Pan_0:hover ~ .rowCi_1  { background-color:black; color: white; }
#Ci_1_Pan_0:hover ~ .colPan_0  { background-color:black; color: white; }
#Ci_1_Pan_1:hover ~ .rowCi_1  { background-color:black; color: white; }
#Ci_1_Pan_1:hover ~ .colPan_1  { background-color:black; color: white; }
#Ci_1_Pnr_0:hover ~ .rowCi_1  { background-color:black; color: white; }
#Ci_1_Pnr_0:hover ~ .colPnr_0  { background-color:black; color: white; }
#Ci_1_Pnr_1:hover ~ .rowCi_1  { background-color:black; color: white; }
#Ci_1_Pnr_1:hover ~ .colPnr_1  { background-color:black; color: white; }
#Ci_1_Slp_0:hover ~ .rowCi_1  { background-color:black; color: white; }
#Ci_1_Slp_0:hover ~ .colSlp_0  { background-color:black; color: white; }
#Ci_1_Slp_1:hover ~ .rowCi_1  { background-color:black; color: white; }
#Ci_1_Slp_1:hover ~ .colSlp_1  { background-color:black; color: white; }
#Ci_1_Srp_0:hover ~ .rowCi_1  { background-color:black; color: white; }
#Ci_1_Srp_0:hover ~ .colSrp_0  { background-color:black; color: white; }
#Ci_1_Srp_2:hover ~ .rowCi_1  { background-color:black; color: white; }
#Ci_1_Srp_2:hover ~ .colSrp_2  { background-color:black; color: white; }
#Ci_1_Tin_0:hover ~ .rowCi_1  { background-color:black; color: white; }
#Ci_1_Tin_0:hover ~ .colTin_0  { background-color:black; color: white; }
#Ci_1_Tin_2:hover ~ .rowCi_1  { background-color:black; color: white; }
#Ci_1_Tin_2:hover ~ .colTin_2  { background-color:black; color: white; }
#Ci_1_Twi_0:hover ~ .rowCi_1  { background-color:black; color: white; }
#Ci_1_Twi_0:hover ~ .colTwi_0  { background-color:black; color: white; }
#Ci_1_Twi_2:hover ~ .rowCi_1  { background-color:black; color: white; }
#Ci_1_Twi_2:hover ~ .colTwi_2  { background-color:black; color: white; }
#Doc_0_Doc_0:hover ~ .rowDoc_0  { background-color:black; color: white; }
#Doc_0_Doc_0:hover ~ .colDoc_0  { background-color:black; color: white; }
#Doc_0_Mad_0:hover ~ .rowDoc_0  { background-color:black; color: white; }
#Doc_0_Mad_0:hover ~ .colMad_0  { background-color:black; color: white; }
#Doc_0_Mad_1:hover ~ .rowDoc_0  { background-color:black; color: white; }
#Doc_0_Mad_1:hover ~ .colMad_1  { background-color:black; color: white; }
#Doc_0_Med_0:hover ~ .rowDoc_0  { background-color:black; color: white; }
#Doc_0_Med_0:hover ~ .colMed_0  { background-color:black; color: white; }
#Doc_0_Med_1:hover ~ .rowDoc_0  { background-color:black; color: white; }
#Doc_0_Med_1:hover ~ .colMed_1  { background-color:black; color: white; }
#Doc_0_Mef2_0:hover ~ .rowDoc_0  { background-color:black; color: white; }
#Doc_0_Mef2_0:hover ~ .colMef2_0  { background-color:black; color: white; }
#Doc_0_Mef2_1:hover ~ .rowDoc_0  { background-color:black; color: white; }
#Doc_0_Mef2_1:hover ~ .colMef2_1  { background-color:black; color: white; }
#Doc_0_Nicd_0:hover ~ .rowDoc_0  { background-color:black; color: white; }
#Doc_0_Nicd_0:hover ~ .colNicd_0  { background-color:black; color: white; }
#Doc_0_Nicd_1:hover ~ .rowDoc_0  { background-color:black; color: white; }
#Doc_0_Nicd_1:hover ~ .colNicd_1  { background-color:black; color: white; }
#Doc_0_Pan_0:hover ~ .rowDoc_0  { background-color:black; color: white; }
#Doc_0_Pan_0:hover ~ .colPan_0  { background-color:black; color: white; }
#Doc_0_Pan_1:hover ~ .rowDoc_0  { background-color:black; color: white; }
#Doc_0_Pan_1:hover ~ .colPan_1  { background-color:black; color: white; }
#Doc_0_Pnr_0:hover ~ .rowDoc_0  { background-color:black; color: white; }
#Doc_0_Pnr_0:hover ~ .colPnr_0  { background-color:black; color: white; }
#Doc_0_Pnr_1:hover ~ .rowDoc_0  { background-color:black; color: white; }
#Doc_0_Pnr_1:hover ~ .colPnr_1  { background-color:black; color: white; }
#Doc_0_Slp_0:hover ~ .rowDoc_0  { background-color:black; color: white; }
#Doc_0_Slp_0:hover ~ .colSlp_0  { background-color:black; color: white; }
#Doc_0_Slp_1:hover ~ .rowDoc_0  { background-color:black; color: white; }
#Doc_0_Slp_1:hover ~ .colSlp_1  { background-color:black; color: white; }
#Doc_0_Srp_0:hover ~ .rowDoc_0  { background-color:black; color: white; }
#Doc_0_Srp_0:hover ~ .colSrp_0  { background-color:black; color: white; }
#Doc_0_Srp_2:hover ~ .rowDoc_0  { background-color:black; color: white; }
#Doc_0_Srp_2:hover ~ .colSrp_2  { background-color:black; color: white; }
#Doc_0_Tin_0:hover ~ .rowDoc_0  { background-color:black; color: white; }
#Doc_0_Tin_0:hover ~ .colTin_0  { background-color:black; color: white; }
#Doc_0_Tin_2:hover ~ .rowDoc_0  { background-color:black; color: white; }
#Doc_0_Tin_2:hover ~ .colTin_2  { background-color:black; color: white; }
#Doc_0_Twi_0:hover ~ .rowDoc_0  { background-color:black; color: white; }
#Doc_0_Twi_0:hover ~ .colTwi_0  { background-color:black; color: white; }
#Doc_0_Twi_2:hover ~ .rowDoc_0  { background-color:black; color: white; }
#Doc_0_Twi_2:hover ~ .colTwi_2  { background-color:black; color: white; }
#Doc_1_Doc_1:hover ~ .rowDoc_1  { background-color:black; color: white; }
#Doc_1_Doc_1:hover ~ .colDoc_1  { background-color:black; color: white; }
#Doc_1_Mad_0:hover ~ .rowDoc_1  { background-color:black; color: white; }
#Doc_1_Mad_0:hover ~ .colMad_0  { background-color:black; color: white; }
#Doc_1_Mad_1:hover ~ .rowDoc_1  { background-color:black; color: white; }
#Doc_1_Mad_1:hover ~ .colMad_1  { background-color:black; color: white; }
#Doc_1_Med_0:hover ~ .rowDoc_1  { background-color:black; color: white; }
#Doc_1_Med_0:hover ~ .colMed_0  { background-color:black; color: white; }
#Doc_1_Med_1:hover ~ .rowDoc_1  { background-color:black; color: white; }
#Doc_1_Med_1:hover ~ .colMed_1  { background-color:black; color: white; }
#Doc_1_Mef2_0:hover ~ .rowDoc_1  { background-color:black; color: white; }
#Doc_1_Mef2_0:hover ~ .colMef2_0  { background-color:black; color: white; }
#Doc_1_Mef2_1:hover ~ .rowDoc_1  { background-color:black; color: white; }
#Doc_1_Mef2_1:hover ~ .colMef2_1  { background-color:black; color: white; }
#Doc_1_Nicd_0:hover ~ .rowDoc_1  { background-color:black; color: white; }
#Doc_1_Nicd_0:hover ~ .colNicd_0  { background-color:black; color: white; }
#Doc_1_Nicd_1:hover ~ .rowDoc_1  { background-color:black; color: white; }
#Doc_1_Nicd_1:hover ~ .colNicd_1  { background-color:black; color: white; }
#Doc_1_Pan_0:hover ~ .rowDoc_1  { background-color:black; color: white; }
#Doc_1_Pan_0:hover ~ .colPan_0  { background-color:black; color: white; }
#Doc_1_Pan_1:hover ~ .rowDoc_1  { background-color:black; color: white; }
#Doc_1_Pan_1:hover ~ .colPan_1  { background-color:black; color: white; }
#Doc_1_Pnr_0:hover ~ .rowDoc_1  { background-color:black; color: white; }
#Doc_1_Pnr_0:hover ~ .colPnr_0  { background-color:black; color: white; }
#Doc_1_Pnr_1:hover ~ .rowDoc_1  { background-color:black; color: white; }
#Doc_1_Pnr_1:hover ~ .colPnr_1  { background-color:black; color: white; }
#Doc_1_Slp_0:hover ~ .rowDoc_1  { background-color:black; color: white; }
#Doc_1_Slp_0:hover ~ .colSlp_0  { background-color:black; color: white; }
#Doc_1_Slp_1:hover ~ .rowDoc_1  { background-color:black; color: white; }
#Doc_1_Slp_1:hover ~ .colSlp_1  { background-color:black; color: white; }
#Doc_1_Srp_0:hover ~ .rowDoc_1  { background-color:black; color: white; }
#Doc_1_Srp_0:hover ~ .colSrp_0  { background-color:black; color: white; }
#Doc_1_Srp_2:hover ~ .rowDoc_1  { background-color:black; color: white; }
#Doc_1_Srp_2:hover ~ .colSrp_2  { background-color:black; color: white; }
#Doc_1_Tin_0:hover ~ .rowDoc_1  { background-color:black; color: white; }
#Doc_1_Tin_0:hover ~ .colTin_0  { background-color:black; color: white; }
#Doc_1_Tin_2:hover ~ .rowDoc_1  { background-color:black; color: white; }
#Doc_1_Tin_2:hover ~ .colTin_2  { background-color:black; color: white; }
#Doc_1_Twi_0:hover ~ .rowDoc_1  { background-color:black; color: white; }
#Doc_1_Twi_0:hover ~ .colTwi_0  { background-color:black; color: white; }
#Doc_1_Twi_2:hover ~ .rowDoc_1  { background-color:black; color: white; }
#Doc_1_Twi_2:hover ~ .colTwi_2  { background-color:black; color: white; }
#Mad_0_Mad_0:hover ~ .rowMad_0  { background-color:black; color: white; }
#Mad_0_Mad_0:hover ~ .colMad_0  { background-color:black; color: white; }
#Mad_0_Med_0:hover ~ .rowMad_0  { background-color:black; color: white; }
#Mad_0_Med_0:hover ~ .colMed_0  { background-color:black; color: white; }
#Mad_0_Med_1:hover ~ .rowMad_0  { background-color:black; color: white; }
#Mad_0_Med_1:hover ~ .colMed_1  { background-color:black; color: white; }
#Mad_0_Mef2_0:hover ~ .rowMad_0  { background-color:black; color: white; }
#Mad_0_Mef2_0:hover ~ .colMef2_0  { background-color:black; color: white; }
#Mad_0_Mef2_1:hover ~ .rowMad_0  { background-color:black; color: white; }
#Mad_0_Mef2_1:hover ~ .colMef2_1  { background-color:black; color: white; }
#Mad_0_Nicd_0:hover ~ .rowMad_0  { background-color:black; color: white; }
#Mad_0_Nicd_0:hover ~ .colNicd_0  { background-color:black; color: white; }
#Mad_0_Nicd_1:hover ~ .rowMad_0  { background-color:black; color: white; }
#Mad_0_Nicd_1:hover ~ .colNicd_1  { background-color:black; color: white; }
#Mad_0_Pan_0:hover ~ .rowMad_0  { background-color:black; color: white; }
#Mad_0_Pan_0:hover ~ .colPan_0  { background-color:black; color: white; }
#Mad_0_Pan_1:hover ~ .rowMad_0  { background-color:black; color: white; }
#Mad_0_Pan_1:hover ~ .colPan_1  { background-color:black; color: white; }
#Mad_0_Pnr_0:hover ~ .rowMad_0  { background-color:black; color: white; }
#Mad_0_Pnr_0:hover ~ .colPnr_0  { background-color:black; color: white; }
#Mad_0_Pnr_1:hover ~ .rowMad_0  { background-color:black; color: white; }
#Mad_0_Pnr_1:hover ~ .colPnr_1  { background-color:black; color: white; }
#Mad_0_Slp_0:hover ~ .rowMad_0  { background-color:black; color: white; }
#Mad_0_Slp_0:hover ~ .colSlp_0  { background-color:black; color: white; }
#Mad_0_Slp_1:hover ~ .rowMad_0  { background-color:black; color: white; }
#Mad_0_Slp_1:hover ~ .colSlp_1  { background-color:black; color: white; }
#Mad_0_Srp_0:hover ~ .rowMad_0  { background-color:black; color: white; }
#Mad_0_Srp_0:hover ~ .colSrp_0  { background-color:black; color: white; }
#Mad_0_Srp_2:hover ~ .rowMad_0  { background-color:black; color: white; }
#Mad_0_Srp_2:hover ~ .colSrp_2  { background-color:black; color: white; }
#Mad_0_Tin_0:hover ~ .rowMad_0  { background-color:black; color: white; }
#Mad_0_Tin_0:hover ~ .colTin_0  { background-color:black; color: white; }
#Mad_0_Tin_2:hover ~ .rowMad_0  { background-color:black; color: white; }
#Mad_0_Tin_2:hover ~ .colTin_2  { background-color:black; color: white; }
#Mad_0_Twi_0:hover ~ .rowMad_0  { background-color:black; color: white; }
#Mad_0_Twi_0:hover ~ .colTwi_0  { background-color:black; color: white; }
#Mad_0_Twi_2:hover ~ .rowMad_0  { background-color:black; color: white; }
#Mad_0_Twi_2:hover ~ .colTwi_2  { background-color:black; color: white; }
#Mad_1_Mad_1:hover ~ .rowMad_1  { background-color:black; color: white; }
#Mad_1_Mad_1:hover ~ .colMad_1  { background-color:black; color: white; }
#Mad_1_Med_0:hover ~ .rowMad_1  { background-color:black; color: white; }
#Mad_1_Med_0:hover ~ .colMed_0  { background-color:black; color: white; }
#Mad_1_Med_1:hover ~ .rowMad_1  { background-color:black; color: white; }
#Mad_1_Med_1:hover ~ .colMed_1  { background-color:black; color: white; }
#Mad_1_Mef2_0:hover ~ .rowMad_1  { background-color:black; color: white; }
#Mad_1_Mef2_0:hover ~ .colMef2_0  { background-color:black; color: white; }
#Mad_1_Mef2_1:hover ~ .rowMad_1  { background-color:black; color: white; }
#Mad_1_Mef2_1:hover ~ .colMef2_1  { background-color:black; color: white; }
#Mad_1_Nicd_0:hover ~ .rowMad_1  { background-color:black; color: white; }
#Mad_1_Nicd_0:hover ~ .colNicd_0  { background-color:black; color: white; }
#Mad_1_Nicd_1:hover ~ .rowMad_1  { background-color:black; color: white; }
#Mad_1_Nicd_1:hover ~ .colNicd_1  { background-color:black; color: white; }
#Mad_1_Pan_0:hover ~ .rowMad_1  { background-color:black; color: white; }
#Mad_1_Pan_0:hover ~ .colPan_0  { background-color:black; color: white; }
#Mad_1_Pan_1:hover ~ .rowMad_1  { background-color:black; color: white; }
#Mad_1_Pan_1:hover ~ .colPan_1  { background-color:black; color: white; }
#Mad_1_Pnr_0:hover ~ .rowMad_1  { background-color:black; color: white; }
#Mad_1_Pnr_0:hover ~ .colPnr_0  { background-color:black; color: white; }
#Mad_1_Pnr_1:hover ~ .rowMad_1  { background-color:black; color: white; }
#Mad_1_Pnr_1:hover ~ .colPnr_1  { background-color:black; color: white; }
#Mad_1_Slp_0:hover ~ .rowMad_1  { background-color:black; color: white; }
#Mad_1_Slp_0:hover ~ .colSlp_0  { background-color:black; color: white; }
#Mad_1_Slp_1:hover ~ .rowMad_1  { background-color:black; color: white; }
#Mad_1_Slp_1:hover ~ .colSlp_1  { background-color:black; color: white; }
#Mad_1_Srp_0:hover ~ .rowMad_1  { background-color:black; color: white; }
#Mad_1_Srp_0:hover ~ .colSrp_0  { background-color:black; color: white; }
#Mad_1_Srp_2:hover ~ .rowMad_1  { background-color:black; color: white; }
#Mad_1_Srp_2:hover ~ .colSrp_2  { background-color:black; color: white; }
#Mad_1_Tin_0:hover ~ .rowMad_1  { background-color:black; color: white; }
#Mad_1_Tin_0:hover ~ .colTin_0  { background-color:black; color: white; }
#Mad_1_Tin_2:hover ~ .rowMad_1  { background-color:black; color: white; }
#Mad_1_Tin_2:hover ~ .colTin_2  { background-color:black; color: white; }
#Mad_1_Twi_0:hover ~ .rowMad_1  { background-color:black; color: white; }
#Mad_1_Twi_0:hover ~ .colTwi_0  { background-color:black; color: white; }
#Mad_1_Twi_2:hover ~ .rowMad_1  { background-color:black; color: white; }
#Mad_1_Twi_2:hover ~ .colTwi_2  { background-color:black; color: white; }
#Med_0_Med_0:hover ~ .rowMed_0  { background-color:black; color: white; }
#Med_0_Med_0:hover ~ .colMed_0  { background-color:black; color: white; }
#Med_0_Mef2_0:hover ~ .rowMed_0  { background-color:black; color: white; }
#Med_0_Mef2_0:hover ~ .colMef2_0  { background-color:black; color: white; }
#Med_0_Mef2_1:hover ~ .rowMed_0  { background-color:black; color: white; }
#Med_0_Mef2_1:hover ~ .colMef2_1  { background-color:black; color: white; }
#Med_0_Nicd_0:hover ~ .rowMed_0  { background-color:black; color: white; }
#Med_0_Nicd_0:hover ~ .colNicd_0  { background-color:black; color: white; }
#Med_0_Nicd_1:hover ~ .rowMed_0  { background-color:black; color: white; }
#Med_0_Nicd_1:hover ~ .colNicd_1  { background-color:black; color: white; }
#Med_0_Pan_0:hover ~ .rowMed_0  { background-color:black; color: white; }
#Med_0_Pan_0:hover ~ .colPan_0  { background-color:black; color: white; }
#Med_0_Pan_1:hover ~ .rowMed_0  { background-color:black; color: white; }
#Med_0_Pan_1:hover ~ .colPan_1  { background-color:black; color: white; }
#Med_0_Pnr_0:hover ~ .rowMed_0  { background-color:black; color: white; }
#Med_0_Pnr_0:hover ~ .colPnr_0  { background-color:black; color: white; }
#Med_0_Pnr_1:hover ~ .rowMed_0  { background-color:black; color: white; }
#Med_0_Pnr_1:hover ~ .colPnr_1  { background-color:black; color: white; }
#Med_0_Slp_0:hover ~ .rowMed_0  { background-color:black; color: white; }
#Med_0_Slp_0:hover ~ .colSlp_0  { background-color:black; color: white; }
#Med_0_Slp_1:hover ~ .rowMed_0  { background-color:black; color: white; }
#Med_0_Slp_1:hover ~ .colSlp_1  { background-color:black; color: white; }
#Med_0_Srp_0:hover ~ .rowMed_0  { background-color:black; color: white; }
#Med_0_Srp_0:hover ~ .colSrp_0  { background-color:black; color: white; }
#Med_0_Srp_2:hover ~ .rowMed_0  { background-color:black; color: white; }
#Med_0_Srp_2:hover ~ .colSrp_2  { background-color:black; color: white; }
#Med_0_Tin_0:hover ~ .rowMed_0  { background-color:black; color: white; }
#Med_0_Tin_0:hover ~ .colTin_0  { background-color:black; color: white; }
#Med_0_Tin_2:hover ~ .rowMed_0  { background-color:black; color: white; }
#Med_0_Tin_2:hover ~ .colTin_2  { background-color:black; color: white; }
#Med_0_Twi_0:hover ~ .rowMed_0  { background-color:black; color: white; }
#Med_0_Twi_0:hover ~ .colTwi_0  { background-color:black; color: white; }
#Med_0_Twi_2:hover ~ .rowMed_0  { background-color:black; color: white; }
#Med_0_Twi_2:hover ~ .colTwi_2  { background-color:black; color: white; }
#Med_1_Med_1:hover ~ .rowMed_1  { background-color:black; color: white; }
#Med_1_Med_1:hover ~ .colMed_1  { background-color:black; color: white; }
#Med_1_Mef2_0:hover ~ .rowMed_1  { background-color:black; color: white; }
#Med_1_Mef2_0:hover ~ .colMef2_0  { background-color:black; color: white; }
#Med_1_Mef2_1:hover ~ .rowMed_1  { background-color:black; color: white; }
#Med_1_Mef2_1:hover ~ .colMef2_1  { background-color:black; color: white; }
#Med_1_Nicd_0:hover ~ .rowMed_1  { background-color:black; color: white; }
#Med_1_Nicd_0:hover ~ .colNicd_0  { background-color:black; color: white; }
#Med_1_Nicd_1:hover ~ .rowMed_1  { background-color:black; color: white; }
#Med_1_Nicd_1:hover ~ .colNicd_1  { background-color:black; color: white; }
#Med_1_Pan_0:hover ~ .rowMed_1  { background-color:black; color: white; }
#Med_1_Pan_0:hover ~ .colPan_0  { background-color:black; color: white; }
#Med_1_Pan_1:hover ~ .rowMed_1  { background-color:black; color: white; }
#Med_1_Pan_1:hover ~ .colPan_1  { background-color:black; color: white; }
#Med_1_Pnr_0:hover ~ .rowMed_1  { background-color:black; color: white; }
#Med_1_Pnr_0:hover ~ .colPnr_0  { background-color:black; color: white; }
#Med_1_Pnr_1:hover ~ .rowMed_1  { background-color:black; color: white; }
#Med_1_Pnr_1:hover ~ .colPnr_1  { background-color:black; color: white; }
#Med_1_Slp_0:hover ~ .rowMed_1  { background-color:black; color: white; }
#Med_1_Slp_0:hover ~ .colSlp_0  { background-color:black; color: white; }
#Med_1_Slp_1:hover ~ .rowMed_1  { background-color:black; color: white; }
#Med_1_Slp_1:hover ~ .colSlp_1  { background-color:black; color: white; }
#Med_1_Srp_0:hover ~ .rowMed_1  { background-color:black; color: white; }
#Med_1_Srp_0:hover ~ .colSrp_0  { background-color:black; color: white; }
#Med_1_Srp_2:hover ~ .rowMed_1  { background-color:black; color: white; }
#Med_1_Srp_2:hover ~ .colSrp_2  { background-color:black; color: white; }
#Med_1_Tin_0:hover ~ .rowMed_1  { background-color:black; color: white; }
#Med_1_Tin_0:hover ~ .colTin_0  { background-color:black; color: white; }
#Med_1_Tin_2:hover ~ .rowMed_1  { background-color:black; color: white; }
#Med_1_Tin_2:hover ~ .colTin_2  { background-color:black; color: white; }
#Med_1_Twi_0:hover ~ .rowMed_1  { background-color:black; color: white; }
#Med_1_Twi_0:hover ~ .colTwi_0  { background-color:black; color: white; }
#Med_1_Twi_2:hover ~ .rowMed_1  { background-color:black; color: white; }
#Med_1_Twi_2:hover ~ .colTwi_2  { background-color:black; color: white; }
#Mef2_0_Mef2_0:hover ~ .rowMef2_0  { background-color:black; color: white; }
#Mef2_0_Mef2_0:hover ~ .colMef2_0  { background-color:black; color: white; }
#Mef2_0_Nicd_0:hover ~ .rowMef2_0  { background-color:black; color: white; }
#Mef2_0_Nicd_0:hover ~ .colNicd_0  { background-color:black; color: white; }
#Mef2_0_Nicd_1:hover ~ .rowMef2_0  { background-color:black; color: white; }
#Mef2_0_Nicd_1:hover ~ .colNicd_1  { background-color:black; color: white; }
#Mef2_0_Pan_0:hover ~ .rowMef2_0  { background-color:black; color: white; }
#Mef2_0_Pan_0:hover ~ .colPan_0  { background-color:black; color: white; }
#Mef2_0_Pan_1:hover ~ .rowMef2_0  { background-color:black; color: white; }
#Mef2_0_Pan_1:hover ~ .colPan_1  { background-color:black; color: white; }
#Mef2_0_Pnr_0:hover ~ .rowMef2_0  { background-color:black; color: white; }
#Mef2_0_Pnr_0:hover ~ .colPnr_0  { background-color:black; color: white; }
#Mef2_0_Pnr_1:hover ~ .rowMef2_0  { background-color:black; color: white; }
#Mef2_0_Pnr_1:hover ~ .colPnr_1  { background-color:black; color: white; }
#Mef2_0_Slp_0:hover ~ .rowMef2_0  { background-color:black; color: white; }
#Mef2_0_Slp_0:hover ~ .colSlp_0  { background-color:black; color: white; }
#Mef2_0_Slp_1:hover ~ .rowMef2_0  { background-color:black; color: white; }
#Mef2_0_Slp_1:hover ~ .colSlp_1  { background-color:black; color: white; }
#Mef2_0_Srp_0:hover ~ .rowMef2_0  { background-color:black; color: white; }
#Mef2_0_Srp_0:hover ~ .colSrp_0  { background-color:black; color: white; }
#Mef2_0_Srp_2:hover ~ .rowMef2_0  { background-color:black; color: white; }
#Mef2_0_Srp_2:hover ~ .colSrp_2  { background-color:black; color: white; }
#Mef2_0_Tin_0:hover ~ .rowMef2_0  { background-color:black; color: white; }
#Mef2_0_Tin_0:hover ~ .colTin_0  { background-color:black; color: white; }
#Mef2_0_Tin_2:hover ~ .rowMef2_0  { background-color:black; color: white; }
#Mef2_0_Tin_2:hover ~ .colTin_2  { background-color:black; color: white; }
#Mef2_0_Twi_0:hover ~ .rowMef2_0  { background-color:black; color: white; }
#Mef2_0_Twi_0:hover ~ .colTwi_0  { background-color:black; color: white; }
#Mef2_0_Twi_2:hover ~ .rowMef2_0  { background-color:black; color: white; }
#Mef2_0_Twi_2:hover ~ .colTwi_2  { background-color:black; color: white; }
#Mef2_1_Mef2_1:hover ~ .rowMef2_1  { background-color:black; color: white; }
#Mef2_1_Mef2_1:hover ~ .colMef2_1  { background-color:black; color: white; }
#Mef2_1_Nicd_0:hover ~ .rowMef2_1  { background-color:black; color: white; }
#Mef2_1_Nicd_0:hover ~ .colNicd_0  { background-color:black; color: white; }
#Mef2_1_Nicd_1:hover ~ .rowMef2_1  { background-color:black; color: white; }
#Mef2_1_Nicd_1:hover ~ .colNicd_1  { background-color:black; color: white; }
#Mef2_1_Pan_0:hover ~ .rowMef2_1  { background-color:black; color: white; }
#Mef2_1_Pan_0:hover ~ .colPan_0  { background-color:black; color: white; }
#Mef2_1_Pan_1:hover ~ .rowMef2_1  { background-color:black; color: white; }
#Mef2_1_Pan_1:hover ~ .colPan_1  { background-color:black; color: white; }
#Mef2_1_Pnr_0:hover ~ .rowMef2_1  { background-color:black; color: white; }
#Mef2_1_Pnr_0:hover ~ .colPnr_0  { background-color:black; color: white; }
#Mef2_1_Pnr_1:hover ~ .rowMef2_1  { background-color:black; color: white; }
#Mef2_1_Pnr_1:hover ~ .colPnr_1  { background-color:black; color: white; }
#Mef2_1_Slp_0:hover ~ .rowMef2_1  { background-color:black; color: white; }
#Mef2_1_Slp_0:hover ~ .colSlp_0  { background-color:black; color: white; }
#Mef2_1_Slp_1:hover ~ .rowMef2_1  { background-color:black; color: white; }
#Mef2_1_Slp_1:hover ~ .colSlp_1  { background-color:black; color: white; }
#Mef2_1_Srp_0:hover ~ .rowMef2_1  { background-color:black; color: white; }
#Mef2_1_Srp_0:hover ~ .colSrp_0  { background-color:black; color: white; }
#Mef2_1_Srp_2:hover ~ .rowMef2_1  { background-color:black; color: white; }
#Mef2_1_Srp_2:hover ~ .colSrp_2  { background-color:black; color: white; }
#Mef2_1_Tin_0:hover ~ .rowMef2_1  { background-color:black; color: white; }
#Mef2_1_Tin_0:hover ~ .colTin_0  { background-color:black; color: white; }
#Mef2_1_Tin_2:hover ~ .rowMef2_1  { background-color:black; color: white; }
#Mef2_1_Tin_2:hover ~ .colTin_2  { background-color:black; color: white; }
#Mef2_1_Twi_0:hover ~ .rowMef2_1  { background-color:black; color: white; }
#Mef2_1_Twi_0:hover ~ .colTwi_0  { background-color:black; color: white; }
#Mef2_1_Twi_2:hover ~ .rowMef2_1  { background-color:black; color: white; }
#Mef2_1_Twi_2:hover ~ .colTwi_2  { background-color:black; color: white; }
#Nicd_0_Nicd_0:hover ~ .rowNicd_0  { background-color:black; color: white; }
#Nicd_0_Nicd_0:hover ~ .colNicd_0  { background-color:black; color: white; }
#Nicd_0_Pan_0:hover ~ .rowNicd_0  { background-color:black; color: white; }
#Nicd_0_Pan_0:hover ~ .colPan_0  { background-color:black; color: white; }
#Nicd_0_Pan_1:hover ~ .rowNicd_0  { background-color:black; color: white; }
#Nicd_0_Pan_1:hover ~ .colPan_1  { background-color:black; color: white; }
#Nicd_0_Pnr_0:hover ~ .rowNicd_0  { background-color:black; color: white; }
#Nicd_0_Pnr_0:hover ~ .colPnr_0  { background-color:black; color: white; }
#Nicd_0_Pnr_1:hover ~ .rowNicd_0  { background-color:black; color: white; }
#Nicd_0_Pnr_1:hover ~ .colPnr_1  { background-color:black; color: white; }
#Nicd_0_Slp_0:hover ~ .rowNicd_0  { background-color:black; color: white; }
#Nicd_0_Slp_0:hover ~ .colSlp_0  { background-color:black; color: white; }
#Nicd_0_Slp_1:hover ~ .rowNicd_0  { background-color:black; color: white; }
#Nicd_0_Slp_1:hover ~ .colSlp_1  { background-color:black; color: white; }
#Nicd_0_Srp_0:hover ~ .rowNicd_0  { background-color:black; color: white; }
#Nicd_0_Srp_0:hover ~ .colSrp_0  { background-color:black; color: white; }
#Nicd_0_Srp_2:hover ~ .rowNicd_0  { background-color:black; color: white; }
#Nicd_0_Srp_2:hover ~ .colSrp_2  { background-color:black; color: white; }
#Nicd_0_Tin_0:hover ~ .rowNicd_0  { background-color:black; color: white; }
#Nicd_0_Tin_0:hover ~ .colTin_0  { background-color:black; color: white; }
#Nicd_0_Tin_2:hover ~ .rowNicd_0  { background-color:black; color: white; }
#Nicd_0_Tin_2:hover ~ .colTin_2  { background-color:black; color: white; }
#Nicd_0_Twi_0:hover ~ .rowNicd_0  { background-color:black; color: white; }
#Nicd_0_Twi_0:hover ~ .colTwi_0  { background-color:black; color: white; }
#Nicd_0_Twi_2:hover ~ .rowNicd_0  { background-color:black; color: white; }
#Nicd_0_Twi_2:hover ~ .colTwi_2  { background-color:black; color: white; }
#Nicd_1_Nicd_1:hover ~ .rowNicd_1  { background-color:black; color: white; }
#Nicd_1_Nicd_1:hover ~ .colNicd_1  { background-color:black; color: white; }
#Nicd_1_Pan_0:hover ~ .rowNicd_1  { background-color:black; color: white; }
#Nicd_1_Pan_0:hover ~ .colPan_0  { background-color:black; color: white; }
#Nicd_1_Pan_1:hover ~ .rowNicd_1  { background-color:black; color: white; }
#Nicd_1_Pan_1:hover ~ .colPan_1  { background-color:black; color: white; }
#Nicd_1_Pnr_0:hover ~ .rowNicd_1  { background-color:black; color: white; }
#Nicd_1_Pnr_0:hover ~ .colPnr_0  { background-color:black; color: white; }
#Nicd_1_Pnr_1:hover ~ .rowNicd_1  { background-color:black; color: white; }
#Nicd_1_Pnr_1:hover ~ .colPnr_1  { background-color:black; color: white; }
#Nicd_1_Slp_0:hover ~ .rowNicd_1  { background-color:black; color: white; }
#Nicd_1_Slp_0:hover ~ .colSlp_0  { background-color:black; color: white; }
#Nicd_1_Slp_1:hover ~ .rowNicd_1  { background-color:black; color: white; }
#Nicd_1_Slp_1:hover ~ .colSlp_1  { background-color:black; color: white; }
#Nicd_1_Srp_0:hover ~ .rowNicd_1  { background-color:black; color: white; }
#Nicd_1_Srp_0:hover ~ .colSrp_0  { background-color:black; color: white; }
#Nicd_1_Srp_2:hover ~ .rowNicd_1  { background-color:black; color: white; }
#Nicd_1_Srp_2:hover ~ .colSrp_2  { background-color:black; color: white; }
#Nicd_1_Tin_0:hover ~ .rowNicd_1  { background-color:black; color: white; }
#Nicd_1_Tin_0:hover ~ .colTin_0  { background-color:black; color: white; }
#Nicd_1_Tin_2:hover ~ .rowNicd_1  { background-color:black; color: white; }
#Nicd_1_Tin_2:hover ~ .colTin_2  { background-color:black; color: white; }
#Nicd_1_Twi_0:hover ~ .rowNicd_1  { background-color:black; color: white; }
#Nicd_1_Twi_0:hover ~ .colTwi_0  { background-color:black; color: white; }
#Nicd_1_Twi_2:hover ~ .rowNicd_1  { background-color:black; color: white; }
#Nicd_1_Twi_2:hover ~ .colTwi_2  { background-color:black; color: white; }
#Pan_0_Pan_0:hover ~ .rowPan_0  { background-color:black; color: white; }
#Pan_0_Pan_0:hover ~ .colPan_0  { background-color:black; color: white; }
#Pan_0_Pnr_0:hover ~ .rowPan_0  { background-color:black; color: white; }
#Pan_0_Pnr_0:hover ~ .colPnr_0  { background-color:black; color: white; }
#Pan_0_Pnr_1:hover ~ .rowPan_0  { background-color:black; color: white; }
#Pan_0_Pnr_1:hover ~ .colPnr_1  { background-color:black; color: white; }
#Pan_0_Slp_0:hover ~ .rowPan_0  { background-color:black; color: white; }
#Pan_0_Slp_0:hover ~ .colSlp_0  { background-color:black; color: white; }
#Pan_0_Slp_1:hover ~ .rowPan_0  { background-color:black; color: white; }
#Pan_0_Slp_1:hover ~ .colSlp_1  { background-color:black; color: white; }
#Pan_0_Srp_0:hover ~ .rowPan_0  { background-color:black; color: white; }
#Pan_0_Srp_0:hover ~ .colSrp_0  { background-color:black; color: white; }
#Pan_0_Srp_2:hover ~ .rowPan_0  { background-color:black; color: white; }
#Pan_0_Srp_2:hover ~ .colSrp_2  { background-color:black; color: white; }
#Pan_0_Tin_0:hover ~ .rowPan_0  { background-color:black; color: white; }
#Pan_0_Tin_0:hover ~ .colTin_0  { background-color:black; color: white; }
#Pan_0_Tin_2:hover ~ .rowPan_0  { background-color:black; color: white; }
#Pan_0_Tin_2:hover ~ .colTin_2  { background-color:black; color: white; }
#Pan_0_Twi_0:hover ~ .rowPan_0  { background-color:black; color: white; }
#Pan_0_Twi_0:hover ~ .colTwi_0  { background-color:black; color: white; }
#Pan_0_Twi_2:hover ~ .rowPan_0  { background-color:black; color: white; }
#Pan_0_Twi_2:hover ~ .colTwi_2  { background-color:black; color: white; }
#Pan_1_Pan_1:hover ~ .rowPan_1  { background-color:black; color: white; }
#Pan_1_Pan_1:hover ~ .colPan_1  { background-color:black; color: white; }
#Pan_1_Pnr_0:hover ~ .rowPan_1  { background-color:black; color: white; }
#Pan_1_Pnr_0:hover ~ .colPnr_0  { background-color:black; color: white; }
#Pan_1_Pnr_1:hover ~ .rowPan_1  { background-color:black; color: white; }
#Pan_1_Pnr_1:hover ~ .colPnr_1  { background-color:black; color: white; }
#Pan_1_Slp_0:hover ~ .rowPan_1  { background-color:black; color: white; }
#Pan_1_Slp_0:hover ~ .colSlp_0  { background-color:black; color: white; }
#Pan_1_Slp_1:hover ~ .rowPan_1  { background-color:black; color: white; }
#Pan_1_Slp_1:hover ~ .colSlp_1  { background-color:black; color: white; }
#Pan_1_Srp_0:hover ~ .rowPan_1  { background-color:black; color: white; }
#Pan_1_Srp_0:hover ~ .colSrp_0  { background-color:black; color: white; }
#Pan_1_Srp_2:hover ~ .rowPan_1  { background-color:black; color: white; }
#Pan_1_Srp_2:hover ~ .colSrp_2  { background-color:black; color: white; }
#Pan_1_Tin_0:hover ~ .rowPan_1  { background-color:black; color: white; }
#Pan_1_Tin_0:hover ~ .colTin_0  { background-color:black; color: white; }
#Pan_1_Tin_2:hover ~ .rowPan_1  { background-color:black; color: white; }
#Pan_1_Tin_2:hover ~ .colTin_2  { background-color:black; color: white; }
#Pan_1_Twi_0:hover ~ .rowPan_1  { background-color:black; color: white; }
#Pan_1_Twi_0:hover ~ .colTwi_0  { background-color:black; color: white; }
#Pan_1_Twi_2:hover ~ .rowPan_1  { background-color:black; color: white; }
#Pan_1_Twi_2:hover ~ .colTwi_2  { background-color:black; color: white; }
#Pnr_0_Pnr_0:hover ~ .rowPnr_0  { background-color:black; color: white; }
#Pnr_0_Pnr_0:hover ~ .colPnr_0  { background-color:black; color: white; }
#Pnr_0_Slp_0:hover ~ .rowPnr_0  { background-color:black; color: white; }
#Pnr_0_Slp_0:hover ~ .colSlp_0  { background-color:black; color: white; }
#Pnr_0_Slp_1:hover ~ .rowPnr_0  { background-color:black; color: white; }
#Pnr_0_Slp_1:hover ~ .colSlp_1  { background-color:black; color: white; }
#Pnr_0_Srp_0:hover ~ .rowPnr_0  { background-color:black; color: white; }
#Pnr_0_Srp_0:hover ~ .colSrp_0  { background-color:black; color: white; }
#Pnr_0_Srp_2:hover ~ .rowPnr_0  { background-color:black; color: white; }
#Pnr_0_Srp_2:hover ~ .colSrp_2  { background-color:black; color: white; }
#Pnr_0_Tin_0:hover ~ .rowPnr_0  { background-color:black; color: white; }
#Pnr_0_Tin_0:hover ~ .colTin_0  { background-color:black; color: white; }
#Pnr_0_Tin_2:hover ~ .rowPnr_0  { background-color:black; color: white; }
#Pnr_0_Tin_2:hover ~ .colTin_2  { background-color:black; color: white; }
#Pnr_0_Twi_0:hover ~ .rowPnr_0  { background-color:black; color: white; }
#Pnr_0_Twi_0:hover ~ .colTwi_0  { background-color:black; color: white; }
#Pnr_0_Twi_2:hover ~ .rowPnr_0  { background-color:black; color: white; }
#Pnr_0_Twi_2:hover ~ .colTwi_2  { background-color:black; color: white; }
#Pnr_1_Pnr_1:hover ~ .rowPnr_1  { background-color:black; color: white; }
#Pnr_1_Pnr_1:hover ~ .colPnr_1  { background-color:black; color: white; }
#Pnr_1_Slp_0:hover ~ .rowPnr_1  { background-color:black; color: white; }
#Pnr_1_Slp_0:hover ~ .colSlp_0  { background-color:black; color: white; }
#Pnr_1_Slp_1:hover ~ .rowPnr_1  { background-color:black; color: white; }
#Pnr_1_Slp_1:hover ~ .colSlp_1  { background-color:black; color: white; }
#Pnr_1_Srp_0:hover ~ .rowPnr_1  { background-color:black; color: white; }
#Pnr_1_Srp_0:hover ~ .colSrp_0  { background-color:black; color: white; }
#Pnr_1_Srp_2:hover ~ .rowPnr_1  { background-color:black; color: white; }
#Pnr_1_Srp_2:hover ~ .colSrp_2  { background-color:black; color: white; }
#Pnr_1_Tin_0:hover ~ .rowPnr_1  { background-color:black; color: white; }
#Pnr_1_Tin_0:hover ~ .colTin_0  { background-color:black; color: white; }
#Pnr_1_Tin_2:hover ~ .rowPnr_1  { background-color:black; color: white; }
#Pnr_1_Tin_2:hover ~ .colTin_2  { background-color:black; color: white; }
#Pnr_1_Twi_0:hover ~ .rowPnr_1  { background-color:black; color: white; }
#Pnr_1_Twi_0:hover ~ .colTwi_0  { background-color:black; color: white; }
#Pnr_1_Twi_2:hover ~ .rowPnr_1  { background-color:black; color: white; }
#Pnr_1_Twi_2:hover ~ .colTwi_2  { background-color:black; color: white; }
#Slp_0_Slp_0:hover ~ .rowSlp_0  { background-color:black; color: white; }
#Slp_0_Slp_0:hover ~ .colSlp_0  { background-color:black; color: white; }
#Slp_0_Srp_0:hover ~ .rowSlp_0  { background-color:black; color: white; }
#Slp_0_Srp_0:hover ~ .colSrp_0  { background-color:black; color: white; }
#Slp_0_Srp_2:hover ~ .rowSlp_0  { background-color:black; color: white; }
#Slp_0_Srp_2:hover ~ .colSrp_2  { background-color:black; color: white; }
#Slp_0_Tin_0:hover ~ .rowSlp_0  { background-color:black; color: white; }
#Slp_0_Tin_0:hover ~ .colTin_0  { background-color:black; color: white; }
#Slp_0_Tin_2:hover ~ .rowSlp_0  { background-color:black; color: white; }
#Slp_0_Tin_2:hover ~ .colTin_2  { background-color:black; color: white; }
#Slp_0_Twi_0:hover ~ .rowSlp_0  { background-color:black; color: white; }
#Slp_0_Twi_0:hover ~ .colTwi_0  { background-color:black; color: white; }
#Slp_0_Twi_2:hover ~ .rowSlp_0  { background-color:black; color: white; }
#Slp_0_Twi_2:hover ~ .colTwi_2  { background-color:black; color: white; }
#Slp_1_Slp_1:hover ~ .rowSlp_1  { background-color:black; color: white; }
#Slp_1_Slp_1:hover ~ .colSlp_1  { background-color:black; color: white; }
#Slp_1_Srp_0:hover ~ .rowSlp_1  { background-color:black; color: white; }
#Slp_1_Srp_0:hover ~ .colSrp_0  { background-color:black; color: white; }
#Slp_1_Srp_2:hover ~ .rowSlp_1  { background-color:black; color: white; }
#Slp_1_Srp_2:hover ~ .colSrp_2  { background-color:black; color: white; }
#Slp_1_Tin_0:hover ~ .rowSlp_1  { background-color:black; color: white; }
#Slp_1_Tin_0:hover ~ .colTin_0  { background-color:black; color: white; }
#Slp_1_Tin_2:hover ~ .rowSlp_1  { background-color:black; color: white; }
#Slp_1_Tin_2:hover ~ .colTin_2  { background-color:black; color: white; }
#Slp_1_Twi_0:hover ~ .rowSlp_1  { background-color:black; color: white; }
#Slp_1_Twi_0:hover ~ .colTwi_0  { background-color:black; color: white; }
#Slp_1_Twi_2:hover ~ .rowSlp_1  { background-color:black; color: white; }
#Slp_1_Twi_2:hover ~ .colTwi_2  { background-color:black; color: white; }
#Srp_0_Srp_0:hover ~ .rowSrp_0  { background-color:black; color: white; }
#Srp_0_Srp_0:hover ~ .colSrp_0  { background-color:black; color: white; }
#Srp_0_Tin_0:hover ~ .rowSrp_0  { background-color:black; color: white; }
#Srp_0_Tin_0:hover ~ .colTin_0  { background-color:black; color: white; }
#Srp_0_Tin_2:hover ~ .rowSrp_0  { background-color:black; color: white; }
#Srp_0_Tin_2:hover ~ .colTin_2  { background-color:black; color: white; }
#Srp_0_Twi_0:hover ~ .rowSrp_0  { background-color:black; color: white; }
#Srp_0_Twi_0:hover ~ .colTwi_0  { background-color:black; color: white; }
#Srp_0_Twi_2:hover ~ .rowSrp_0  { background-color:black; color: white; }
#Srp_0_Twi_2:hover ~ .colTwi_2  { background-color:black; color: white; }
#Srp_2_Srp_2:hover ~ .rowSrp_2  { background-color:black; color: white; }
#Srp_2_Srp_2:hover ~ .colSrp_2  { background-color:black; color: white; }
#Srp_2_Tin_0:hover ~ .rowSrp_2  { background-color:black; color: white; }
#Srp_2_Tin_0:hover ~ .colTin_0  { background-color:black; color: white; }
#Srp_2_Tin_2:hover ~ .rowSrp_2  { background-color:black; color: white; }
#Srp_2_Tin_2:hover ~ .colTin_2  { background-color:black; color: white; }
#Srp_2_Twi_0:hover ~ .rowSrp_2  { background-color:black; color: white; }
#Srp_2_Twi_0:hover ~ .colTwi_0  { background-color:black; color: white; }
#Srp_2_Twi_2:hover ~ .rowSrp_2  { background-color:black; color: white; }
#Srp_2_Twi_2:hover ~ .colTwi_2  { background-color:black; color: white; }
#Tin_0_Tin_0:hover ~ .rowTin_0  { background-color:black; color: white; }
#Tin_0_Tin_0:hover ~ .colTin_0  { background-color:black; color: white; }
#Tin_0_Twi_0:hover ~ .rowTin_0  { background-color:black; color: white; }
#Tin_0_Twi_0:hover ~ .colTwi_0  { background-color:black; color: white; }
#Tin_0_Twi_2:hover ~ .rowTin_0  { background-color:black; color: white; }
#Tin_0_Twi_2:hover ~ .colTwi_2  { background-color:black; color: white; }
#Tin_2_Tin_2:hover ~ .rowTin_2  { background-color:black; color: white; }
#Tin_2_Tin_2:hover ~ .colTin_2  { background-color:black; color: white; }
#Tin_2_Twi_0:hover ~ .rowTin_2  { background-color:black; color: white; }
#Tin_2_Twi_0:hover ~ .colTwi_0  { background-color:black; color: white; }
#Tin_2_Twi_2:hover ~ .rowTin_2  { background-color:black; color: white; }
#Tin_2_Twi_2:hover ~ .colTwi_2  { background-color:black; color: white; }
#Twi_0_Twi_0:hover ~ .rowTwi_0  { background-color:black; color: white; }
#Twi_0_Twi_0:hover ~ .colTwi_0  { background-color:black; color: white; }
#Twi_2_Twi_2:hover ~ .rowTwi_2  { background-color:black; color: white; }
#Twi_2_Twi_2:hover ~ .colTwi_2  { background-color:black; color: white; }
#Wt_0_Wt_0:hover ~ .rowWt_0  { background-color:black; color: white; }
#Wt_0_Wt_0:hover ~ .colWt_0  { background-color:black; color: white; }
